{% extends 'base.html.twig' %}
{% block content %}
<br><br><br>

<div class="alert alert-warning" role="alert">
    <h3>
        In order to participate in an event you need to be connected, if you are not
        you can join us by clicking <a href="{{ path('fos_user_registration_register') }}">HERE</a>
        Or if you already have an account click <a href="{{ path('fos_user_security_login') }}" >HERE</a> to connect !
    </h3>

</div>
{%  endblock %}