{% extends 'base2.html.twig' %}
{% block content %}
    <div style="margin-top: 200px ; margin-left: 700px ;">
        Description :
        <h2 style="font-family: 'Lato Heavy' ; font-size: 50px; ">
            {{ club.description }}
        </h2></div>
{% endblock %}