{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <table>
        <tr>
            <th height="5px"></th>
        </tr>
    </table>
<h1>Your Bill : </h1>
    <table>
        <tr>
            <th height="50px"></th>
        </tr>
    </table>
    <table border="1" width="50%" align="center">
        <tr>
            <th height="40px">Name :</th>
            <th height="40px">Last Name: </th>
            <th height="40px">Ammount: </th>
        </tr>
        {% for i in Bill %}
            <tr>
                <td height="40px">{{ i.name }}</td>
                <td height="40px">{{ i.lastName }}</td>
                <td height="40px">{{ i.ammount }}</td>
            </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th height="50px"></th>
        </tr>
    </table>
{% endblock %}